  @import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
body{
  background-color: lightsteelblue;
  }

section{
  background-color: powderblue;
  }

h1{
  color: black;
  font-family: 'Slabo 27px', serif;
  }

h2{
  color: black;
  font-family: 'Slabo 27px', serif;
  }

h3{
  color: black;
  font-family: 'Slabo 27px', serif;
  }

h3 em{
  color: black;
  }

li{
  list-style: circle;
  }

#centername{
  text-align: center;
  }

#centerinfo{
  text-align: center;
  }

#centerfooter{
  text-align: center;
  }

#centeraddress{
  text-align: center;
  }
#centeraside{
  text-align: center;
  font-size: 18px;
}

.bolder{
  font-weight: bolder;
  font-size: 16px;
  }
.bold{
  font-weight: bold;
  font-size: 16px;
}

a{
  color: purple;
  text-decoration: none;
  }

a:hover{
  background-color: white;
  }
